<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290857237575-9mgem4jg8a8g6v5jnpni37g24i3n6iml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290857237575-9mgem4jg8a8g6v5jnpni37g24i3n6iml</string>
	<key>API_KEY</key>
	<string>AIzaSyDGHt5ODqW5uRCw12Gwex6Ol_-i39zlKhM</string>
	<key>GCM_SENDER_ID</key>
	<string>290857237575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prithviraj8.SmartCity</string>
	<key>PROJECT_ID</key>
	<string>smart-city-hackathon-d9d29</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-city-hackathon-d9d29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290857237575:ios:b4d9ea9612722a446b0562</string>
	<key>DATABASE_URL</key>
	<string>https://smart-city-hackathon-d9d29.firebaseio.com</string>
</dict>
</plist>